#A compose file for integration tests and development
wsgi:
  image: c2corg/v6_images:latest
  volumes:
    - ./incoming:/root/incoming
    - ./active:/root/active
  environment:
    INCOMING_BUCKET: c2corgv6-dev
    AWS_DEFAULT_REGION: eu-west-1
  ports:
  - 8480:80
