pyramid==1.6.1
gunicorn==19.6.0
pytest==2.8.5
boto3==1.4.0
flake8==2.5.4
mypy-lang==0.4.1
requests==2.10.0
WebTest==2.0.20
SQLAlchemy==1.0.11
psycopg2==2.6.1
python-json-logger==0.1.5
eventlet==0.20.0
gevent==1.2a2
gaiohttp-websocket==0.1.1
Pillow==4.1.0
